body {
    background-color: #ffffff;
    text-align: center;
    font-family: "Birthstone", cursive;
    color: black;
    margin: auto;
    
}

.comfortaa-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.birthstone-regular {
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

#header {
    padding: 20px;
    color: #ffffff;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    background-color: black;
}

button {
    background-color: white;
    color: black;
    font-family: "Comfortaa", sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.drop-area {
    border: 2px dashed #3d3d3d;
    padding: 30px;
    margin: 20px auto;
    width: 300px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.drop-area.dragover {
    border-color: #000;
    background: #f0f0f0;
}

.img-card {
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  width: 250px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.gallery-img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.img-url {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}

.img-card .copy-btn {
  padding: 6px 12px;
  margin: 8px;
  background-color: #ffffff;
  color: #000;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: calc(100% - 16px);
  box-sizing: border-box;
  transition: 0.3s;
}

.img-card .copy-btn:hover {
    background-color: #f0f0f0;
}

button:hover {
    background-color: black;
    color: white;
    scale: 1.05;
}

#add-image {
    background-color: rgb(0, 0, 0);
    padding: 20px; 
    border: 1px solid transparent;
    border-radius: 15px;
    max-width: 100px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
